[core]
	editor = code --wait
	excludesfile = /Users/souma/.gitignore_global
[merge]
	tool = code --wait \"$MERGED\"
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "github:"]
	InsteadOf = https://github.com/
	InsteadOf = git@github.com:
[init]
	defaultBranch = main
