[submodule "Vim/.vim/pack/airblade/start/vim-gitgutter"]
	path = Vim/.vim/pack/airblade/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "Vim/.vim/pack/tpope/start/commentary"]
	path = Vim/.vim/pack/tpope/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "Vim/.vim/pack/tpope/start/fugitive"]
	path = Vim/.vim/pack/tpope/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "Vim/.vim/pack/vendor/start/nerdtree"]
	path = Vim/.vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
